html, body {
  margin: 0;
  scroll-behavior: smooth;
  will-change: opacity;
  font-size: 16px;
}

#about-page {
  font-family: Raleway, sans-serif;
}

article.slide {
  width: 100vw;
  height: 100vh;
}

.highlight{
  color: #3bc9db;
}

article.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
    
}

/*article.first img.logo {
  width: 50%;
  margin-bottom: 1.25rem;
}*/

article.first p {  
    color: #666;
    font-size: 1.2rem;  
    margin: 0 0 0 0;
}

article.second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

article.second p {
    color: #666;
    margin-top:0px;
    font-size: 1.5rem;
    line-height: 3.0rem;
    text-align: center;
}

.imgs{
  margin-top: -30px;
  width:200px;
  height: 200px;
}

.lineimg{
  margin-top: -30px;
  width:150px;
  height: 150px;
}

.keywordsimgs{
  margin-top: -50px;
  width:250px;
  height: 150px;
}

article.third {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

article.third p {
  color: #666;
  font-size: 1.5rem;
  line-height: 3.0rem;
  text-align: center;
}

article.fourth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article.fourth p {
  color: #666;
  font-size: 1.5rem;
  line-height: 3.0rem;
  text-align: center;
}

article.fifth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article.fifth p {
  color: #666;
  font-size: 1.5rem;
  line-height: 3.0rem;
  text-align: center;
}

article.fifth a{
  display: inline-block;
  vertical-align: middle;
  background-color: #3bc9db;
  text-decoration: none;
  text-decoration-line: none;
  color: #FFFFFF;
  padding: 0 12px 0 12px;
}

article.fifth a:hover{
  background-color: #0080FF;
}


nav.stepper-navigation {
  position: fixed;
  top: 37.5vh;
  left: 5vw;
}

nav.stepper-navigation ul.stepper-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 25vh;
    margin: 0;

}

nav.stepper-navigation ul.stepper-navigation li.stepper-navigation {
  list-style: none;
  background-color: black;
  opacity: 0.5;
  border-radius: 0.75em;
  width: 0.75em;
  height: 0.75em;

}

nav.stepper-navigation ul.stepper-navigation li.selected {
  opacity: 1;  
}

nav.stepper-navigation ul.stepper-navigation li:active {
  opacity: 1;
}

button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}